#root {
  max-width: auto;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}
.outer-cnt {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  margin: 24px auto;
  align-items: center;
  gap: 50px;
}
@media only screen and (max-width: 1200px) {
  .outer-cnt {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 900px) {
  .outer-cnt {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .outer-cnt {
    grid-template-columns: 1fr;
  }
}
.inner-cnt1 {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 300px;
}

.inner-cnt1:hover {
  background-color: #f8f8f8;
}

.logo {
  height: 100%;
  /* padding: 1.5em; */
  will-change: filter;
  transition: filter 300ms;
  background-color: #f1f1f1;
}
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
} */
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.body {
  min-height: 90vh;
}

.cart-card-cnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px !important;
  height: 100%;
}
.search-bar {
  position: initial;
  border: 2px solid blacks;
  background-color: #f1f1f1;
  display: "flex";
  align-items: center;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: 90%;
}

.search-bar:hover {
  border: 2px solid blue;
  background-color: white;
}
.search-bar-box {
  display: flex;
  width: 65%;
  justify-content: center;
}
.header {
  padding: 10px; /* Add padding as needed */
  margin-bottom: 1rem;
}

.header:hover {
  background-color: #f8f8f8;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.logo {
  height: 80%;
  border-radius: 50%;
}

.productDet {
  display: flex;
  justify-content: center;
  align-content: center;
}
.tabs {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end !important;
  align-items: center;
  /* margin: 0 20px; Add margin as needed */
}

.tab {
  margin: 0 10px; /* Adjust margin as needed */
}
/* Update these styles in your CSS file */
.accordion-cnt {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.accordion-cnt .MuiAccordionSummary-root {
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.accordion-cnt .MuiAccordionSummary-content {
  align-items: center;
  max-height: 20vh;
}

.review-accordion-outer-cnt {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
  padding: 16px;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
  align-items: center;
}

.review-avatar {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

.review-accordion-inner-cnt {
  flex: 1;
}

.review-accordion-inner-cnt h6 {
  font-size: 14px;
  color: #888;
  margin-bottom: 4px;
}

.review-accordion-inner-cnt h5 {
  font-size: 18px;
  margin-top: 8px;
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 10px; /* Adjust margin as needed */
}

/* Add media query for medium screens and below */
@media (max-width: 960px) {
  .tabs {
    display: none;
  }
  .logo {
    width: 50px;
    height: 50px;
  }
  .search-bar {
    display: flex;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3;
  max-width: 400;
  margin: auto;
  row-gap: 0.5rem;
}

.product-img {
  margin-top: auto;
  max-height: 50vh;
}
.product-img:hover {
  transform: scale(1.4);
}
